<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="../view/favicon.ico">
    <title>atbtask</title>
    <link href="../view/css/app.3c68cb87.css" rel="preload" as="style">
    <link href="../view/js/app.2b4e90f9.js" rel="preload" as="script">
    <link href="../view/js/chunk-vendors.030d8e5f.js" rel="preload" as="script">
    <link href="../view/css/app.3c68cb87.css" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but atbtask doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id="app"></div>
    <script src="../view/js/chunk-vendors.030d8e5f.js"></script>
    <script src="../view/js/app.2b4e90f9.js"></script>
</body>

</html>